{%- if linklists[block.settings.menu].links.size > 0 -%}
  {%- if block.settings.show_footer_title -%}
    <p class="h4 footer__title">
      {{ linklists[block.settings.menu].title }}
    </p>
  {%- endif -%}
  <div class="footer__menu-content">
    <div class="footer__menu-inner">
      <div class="footer__menu-links">
        <ul class="no-bullets site-footer__linklist">
          {%- for link in linklists[block.settings.menu].links -%}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}
